<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lista brettsport statistikk</title>
    <meta name="description" content="Lista brettsport statistikk">
    <meta name="author" content="Tallak Tveide">
    <style type="text/css">
      tr { padding: 0 }
      td { width: 50px;  text-align: center; padding: 0;}
      td:first-child { width: 200px }

      .dark { 
        background-color: #191970;
        color: #4961E1;
      }

      .cold {
        background-color: #87CEEB;
        color: #4682B4;
      }

      .good {
        background-color: #D3D3D3;
        color: #191970;
      }

      .not-weekend, .rain {
        color: #999;
      }


      table.results {
        border-collapse: collapse;
      }

      table.totals {
        border-collapse: collapse;
        border: 1px solid #999;
        margin-bottom: 50px;
        margin-above: 50px;
      }

      table.totals td {
        width: 500px;
        text-align: left;
        border: 1px solid #999;
        padding: 4px;
      }

      table.totals td:nth-child(3) {
        width: 30px;
        text-align: center;
      }
      table.totals td:first-child {
        width: 300px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <% if @spot_navn.size < 2 %>
      <h1>Mulige dager for <%= @spot_navn.first || '' %>  </h1>
    <% else %>
      <h1><%= @logikk_heading %></h1>
      <ul>
        <% @spot_navn.each do |n| %>
          <li><%= n %></li>
        <% end %>
      </ul>
    <% end %>

    <table class="totals">
      <tr>
        <td>Dager med minst en stjerne</td>
        <td><%= @surfable_days %> dager av <%= @total_days %> mulige (<%= (@surfable_days * 100.0 / @total_days).to_i %>%)</td>
      </tr>
      <tr>
        <td>Stjerner (mulige surfetidspunkt)</td>
        <td><%= @totals[:good] %> stk av <%= @totals[:good] + @totals[:bad] %> mulige 
          (<%= (@totals[:good] * 100.0 / (@totals[:good] + @totals[:bad])).to_i %>%)</td>
        <td>&#9733;</td>
      </tr>
      <tr>
        <td>Kuldegrader</td>
        <td><%= @totals[:cold] %> stk</td>
        <td>&#10052;</td>
      </tr>
      <% if @totals[:rain] > 0 %>
        <tr>
          <td>Mye regnvær (2 mm per 3 timer)</td>
          <td><%= @totals[:rain] %> stk</td>
        <td>&#9748;</td>
        </tr>
      <% end %>
      <% if @totals[:not_weekend] > 0 %>
        <tr>
          <td>I arbeidstiden (rød/ferie utelatt)</td>
          <td><%= @totals[:not_weekend] %> stk</td>
        <td>&#8986;</td>
        </tr>
      <% end %>
    </table>

    <table class="results">
      <tr>
        <% ([''] + @hours).each do |h| %>
          <th><%= h %></th>
        <% end %>
      </tr>
      <% @guru.reverse.each do |guruday| %>
        <tr>
          <td class="date"><%= guruday[:date] %></td>
          <% guruday[:results].each do |res| %>
            <% case res 
               when :dark %>
              <td class="dark">&#9790;</td>
            <% when :cold %>
              <td class="cold">&#10052;</td>
            <% when :good %>
              <td class="good">&#9733;</td>
            <% when :bad %>
              <td class="bad"></td>
            <% when :not_weekend %>
              <td class="not-weekend">&#8986;</td>
            <% when :rain %>
              <td class="rain">&#9748;</td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>


    <a href="/">Tilbake til start</a>
		<a href="http://www.quick-counter.net/" title="HTML hit counter - Quick-counter.net"><img src="http://www.quick-counter.net/aip.php?tp=bb&tz=Europe%2FLondon" alt="HTML hit counter - Quick-counter.net" border="0" /></a>

  </body>
</html>
